.secao-autora__about img {
  border-radius: 8px;
  width: 75px;
  height: 75px;
  margin: 10px;

}

.header {
  min-height: 70vh;
  height: 500px;
  background: 
      url(../imgs/banner-inicial.png);
  background-size: cover;
  filter: contrast(100%);
  background-position-y:  5%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding: 3%;
  color:blueviolet;
  justify-content: center;
}

.img-responsive-principal {
  width: 40vh;
}

.img-responsive {
  width:100%;
}

.secao-diva__introducao {
  flex-direction: row-reverse;
  margin: 2rem 0;
}
.rodape {
  background-color: rgb(103, 69, 130);
}

.ref-container{
  background: #ececec;
  border-radius: 20px;
  padding: 15px;
  margin: 5%;
}
h3{
  color: #63458a;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 0;
}
.ref-container a{
  font-size: 1.5rem;
}
