/** ---- PERSONALIDADE ---- **/
/* --- HEADER --- */
.navegacao__itens li > a:hover {
  color: rgb(220, 45, 255);
}

.secao-cta__btn:hover {
  color: rgb(240, 163, 255);
}

.secao-autora a{
  color: rgb(240, 163, 255);
}

.secao-autora a:hover{
  color: rgb(220, 45, 255);
}

.navegacao__menu-hamburguer {
  text-align: right;
}

.navegacao__menu-hamburguer img {
  border-radius: 5px;
  width: 10%;
}

.header-personalidade__img {
  background-attachment: fixed;
  background-image: linear-gradient(
      to top,
      rgba(31, 17, 41, 0.673) 0,
      rgba(119, 39, 135, 0.418) 50%,
      #69156975 100%
    ),
    url(../imgs/gh-titulo.jpg);
  align-items: flex-end;
  padding-bottom: 3rem;
}

.header-personalidade__titulo {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.img_link,
.site_link {
  color: #63458a;
}

.img_link:hover,
.site_link:hover {
  color: #d06bd0;
}
.img-link:visited,
.site_link:visited {
  color: rgb(240, 163, 255);
}

.secao-divas__referencias--link {
  color: #d06bd0;
}
.secao-divas__referencias--link:hover {
  color: #63458a;
}
.secao-divas__referencias--link:visited {
  color: #74195f;
}

.secao-diva.container {
  margin: 0;
}

.secao-divas__referencias {
  margin: 4rem 0;
}

.navegacao_nav-color,
.secao-cta__btn,
.rodape__navegacao a,
.rodape__redes-sociais a {
  color: white;
}
#secao-diva__slide-show {
  width: 100%;
  background: #63458a;
  text-align: center;
  padding: 1rem 3rem;
  border-radius: 1rem;
}

#secao-diva__slide-show p {
  font-family: "Playfair Display", serif;
  color: white;
  margin-top: 1rem;
  font-size: 2.2rem;
}

.secao-diva__artigo {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.secao-diva__titulo {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.card-header button:hover {
  text-decoration: none;
}

.card .card-header {
  background-color: rgba(150, 101, 181, 0.13);
}

.navegacao__box.container {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.navegacao__itens li > a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navegacao__itens ul {
    margin: 1rem 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
}

aside nav {
  margin: 20px;
  white-space: nowrap;
}
aside nav ul {
  list-style: none;
  margin: 0;
  margin-left: 1rem;
  padding: 0;
}
/* Only stick if you can fit */
@media (min-height: 400px) {
  aside nav {
    height: 100%;
  }
  aside nav ul {
    position: sticky;
    top: 100px;
  }
}
aside nav ul li {
  display: block;
  text-align: right;
}
aside nav ul li a {
  color: #63458a;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s linear;
  border-bottom: 2px solid transparent;
  font-size: 1.5rem;
  border-radius: 5px;
}

aside nav ul li a:hover {
  background: #896ab1;
  color: white;
  text-decoration: none;
}

aside nav ul li a.current {
  background: #63458a;
  color: white;
}
main {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
}
section {
  padding: 2rem;
  margin: 0 0 2rem 0;
}

@media (max-width: 768px) {
  aside nav {
    display: none;
  }
  .secao-autora__about {
    width: 400px;
  }
}

#legado {
  border: 2px solid #896ab1;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

#legado h4 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.secao-autora__about {
  background-color: #63458a;
}
.secao-autora__about p {
  color: white;
}

.secao-divas__referencias {
  padding: 3rem;
  background-color: #896ab15d;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.667);
  border-radius: 1rem;
}

/* BUG */

.secao-diva__bug--pergunta,
.secao-diva__bug--resposta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secao-diva__bug--pergunta{
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .secao-diva__bug--pergunta,
  .secao-diva__bug--resposta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .secao-diva__imagem-pergunta {
    width: 50%;
  }
  .secao-diva__foto-bug {
    width: 50%;
  }
  .secao-diva__bug--resposta figure {
    width: 30%;
  }
}

.secao-diva__btn {
  align-items: center;
  background: #63458a;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 45px;
  padding: 0 30px;
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  will-change: transform;
}

.secao-diva__btn:hover {
  background: darken(#63458a, 10%);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -2px, 0);
}

/* Bug ativado e desativado */

.secao-diva__bug--resposta {
  max-height: 60rem;
  overflow: hidden;
  transition: max-height 1s;
}

.secao-diva__bug--desativada {
  max-height: 0;
  transition: max-height 0.5s;
}
