/* --- MOBILE FIRST - iPhone 7 - width < 768px --- */
/* --- GERAL --- */
/*
unidades preferidas para esse CSS
margin, padding: rem
font-size: rem
width: %
max-width: % ou px
*/

.header-niede-guidon {
    background-image:
      linear-gradient(to top, rgba(3, 3, 3, 0.781) 0,
      rgba(196, 61, 223, 0.418) 50%,
      #69156975 100%),
      url(./img/NIEDE-GUIDON.jpg);
    background-position: center;
    display: flex;
    background-size: cover;
    align-items: flex-end;
    justify-content: center;
    padding: 0 2rem;
    color: white;
    min-height: 80vh;
    height: 500px;
}


/* Section 1 - Biografia */
.bio-niede-guidon{
  display: block;
  margin: 5%;
}
h2{
  font-size: 2rem;
  text-transform: uppercase;
  color: #63458a;
  margin-top: 0;
}
.h2-cover{
  color: white;
  margin: 10%;
}
p{
  font-size: 1.5rem;
  line-height: 1.5;
}

.premios-container{
  background: #ececec;
  border-radius: 20px;
  padding: 32px;
  height: fit-content;
}
.premios-container li{
  font-size: 1.5rem;
  line-height: 1.8;
}

/* Section 2 - Imagem fixa */

.image--container{
	position: relative;
  width:100%;
  height: auto;
	padding:5em 2em 5em 2em;
}
.cover{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	z-index: -1;
}
.c1{
  background-image: 
  linear-gradient(to top, rgba(3, 3, 3, 0.781) 0,
      rgba(196, 61, 223, 0.418) 50%,
      #69156975 100%),
  url("./img/arqueologa-niede-guidon.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}

/* Section 3 - Hipótese */
.hipotese-niede-guidon{
  margin: 5%;
  display: block;
}

.hipotese-niede-guidon img {
  border-radius: 20px;
}
.img-hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.6);
  transition: box-shadow 300ms ease-in 0s;
}
.img-hover:hover{
  box-shadow: 1px 3px 10px #63458a;
}

/* Section 4 - Slideshow */
* {box-sizing: border-box;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 24px;
}

.mySlides {
  display: none;
}

/* Indicadores 3 pontos */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Referências */
.ref-container{
  background: #ececec;
  border-radius: 20px;
  padding: 24px;
  margin: 10%;
}
h3{
  color: #63458a;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 0;
}
.ref-container a{
  font-size: 1.5rem;
  text-decoration: underline;
}

/* AUTORA */
.secao-autora__about img{
  width: 110px;
  height: 110px;
  margin: 10px;
}

/* Versão DESKTOP */
@media(min-width:768px) and (max-width:2010px){
  .bio-niede-guidon, .hipotese-niede-guidon{
    display: flex;
    justify-content: space-around;
  }
  .bio-niede-guidon div, .hipotese-niede-guidon div{
    width: 48%;
  }
}